<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    </head>
    <body>
        

        <div id="sidebar"></div>
        <div id="messaging-container">
            <ol id="chat">
                
            </ol>
            <div id="msg-box">
                <input type="text" id="message" maxlength=2000>
                <button id="send">Send</button>
            </div>
        </div>

        <!-- initially hidden right-click menu -->
        <div class="hide" id="rmenu">
            <ol>
                <li>Delete message</li>
                <li>Add friend</li>
                <li>Copy text</li>
            <ol>
        </div>
    </body>
    </script>
</html>